a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.sidebar-header{
    font-size: 1.5rem;
}

footer{
    color: white;
    .footer-copyright{
        background-color: aquamarine;
    }

}